<button
  class="group relative flex w-full h-10 px-12 py-3 select-none rounded-md flex-nowrap items-center justify-center text-nowrap cursor-pointer {{
    buttonType() === 'outline'
      ? 'flex items-center justify-center p-3 outline hover:shadow-xl ' +
        outlineTheme
      : buttonClass()
  }}"
  [disabled]="isLoading() || disabled()"
  (click)="buttonClick($event)"
  [type]="isSubmitButton() ? 'submit' : 'button'"
  [ngClass]="disabled() ? disabledButtonClass() : ''"
  [matTooltip]="toolTipMsg() ?? ''">
  @if(hover()){<span
    class="absolute w-0 h-0 transition-all duration-500 ease-out bg-violet-secondary rounded-full group-hover:w-56 group-hover:h-56"></span>}
  @if (prefix() && isIcon()) {
  @if (showBadge()) {
  <span
    [matBadge]="badgeValue()"
    [matBadgeColor]="badgeColor()"
    [matBadgeSize]="badgeSize()">
    <fa-icon
      [size]="iconSize()"
      [icon]="icon() ?? ''"
      class="{{ iconClass() }}"></fa-icon>
  </span>
  } @else {
  <fa-icon
    [size]="iconSize()"
    [icon]="icon() ?? ''"
    class="{{ iconClass() }}"></fa-icon>
  }
  }

  @if (text()) {
  <span class="absolute text-nowrap">
    {{ text() }}
  </span>
  }

  @if (
  !isLoading() &&
  !prefix() &&
  (isIcon() || animation() === "animation-arrow-icon")
  ) {
  @if (animation() === "animation-arrow-icon") {
  @if (showBadge()) {
  <span
    [matBadge]="badgeValue()"
    [matBadgeColor]="badgeColor()"
    [matBadgeSize]="badgeSize()">
    <fa-icon
      [size]="iconSize()"
      [icon]="
              animation() === 'animation-arrow-icon'
                ? (icon() ?? faArrowRight)
                : (icon() ?? '')
            "
      class="{{ iconClass() }}"
      [ngClass]="{
              'duration-400 -ms-7 opacity-0 transition-all group-hover:m-0 group-hover:opacity-100':
                animation() === 'animation-arrow-icon'
            }"></fa-icon>
  </span>
  } @else {
  <span
    class="{{ iconClass() }}"
    [ngClass]="{
            'duration-400 -ms-7 opacity-0 transition-all group-hover:m-0 group-hover:opacity-100':
              animation() === 'animation-arrow-icon'
          }">
    @if (animation() === "animation-arrow-icon") {
    {{ icon() ?? "arrow_forward" }}
    } @else {
    {{ icon() }}
    }
  </span>
  }
  } @else {
  @if (showBadge()) {
  <span
    [matBadge]="badgeValue()"
    [matBadgeColor]="badgeColor()"
    [matBadgeSize]="badgeSize()">
    <fa-icon
      [size]="iconSize()"
      [icon]="icon() ?? ''"
      class="{{ iconClass() }}"></fa-icon>
  </span>
  } @else {
  <fa-icon
    [size]="iconSize()"
    [icon]="icon() ?? ''"
    class="{{ iconClass() }}"></fa-icon>
  }
  }
  }

  @if (isLoading()) {
  <fa-icon
    [size]="iconSize()"
    [icon]="faSpinner"
    class=" text-{{ loaderSize() }} text-{{ loaderColor() }} animate-spin"></fa-icon>
  }
</button>
