@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Karla:wght@400;500;600;700&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@import './assets/style_variants/base.css';


* {
  font-family: var(--font-manrope), var(--font-roboto);
}
html,
body {
  height: 100%;
  background-color: var(--color-bg-primary);
  font-family: var(--font-manrope);
}

html, body { height: 100%; }
